.Container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.AsMuchHeightAsNeeded {
  position: relative;
}

.ShowingFinishScreen {

  .FinishScreen {
    opacity: 1;
    z-index: 1;
  }

  .Timer,
  .Question {
    opacity: 0;
  }
}
