.Option {
  position: relative;
  min-width: 250px;
  display: block;
  padding: 1rem 5rem;
  cursor: pointer;
  background: $white;
  color: $gray-dark;
  left: 50%;
  width: 200%;
  max-width: 100%;
  transform: translateX(-50%);
  transition: max-width .05s ease-in-out;

  &:hover {
    background: $white;
    color: $gray-dark;
    max-width: calc(100% + 10px);
  }

  & + li {
    margin-top: 1rem;
  }
}
