.Question {
	transition: all .25s ease-in-out;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	width: auto;
	left: 50%;
	transform: translate(-50%, -50%);

	h2 {
    	margin-bottom: 5rem;
	}

	ul {
		flex-direction: column;
		list-style: none;
		padding: 0;
		display: flex;
	}
}
