.Question {
	transition: all .15s ease-in-out;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 50%;
  transform: translateY(-50%);
	width: 100%;
	left: 0;

	&.slideOffScreen {
		left: -100%;
	}

	&.setNewPosition {
		transition: all 0s;
		left: 100%;
	}

	&.slideOnScreen {
		transition: all .15s ease-in-out;
		left: 0;
	}

	h2 {
    margin-bottom: 4rem;
	}

	ul {
			flex-direction: column;
			list-style: none;
			padding: 0;
		}
}
